version: 2.1
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/core/sdk:2.1
    steps:
      - checkout
      - run:
          name: Build App
          command: |
            dotnet restore
            dotnet build
workflows:
  version: 2
  build:
    jobs:
      - build